html {
  font-family: 'Questrial', sans-serif;
  background-color: rgb(221, 221, 221);
}
header {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

ul {
  list-style: none;
  padding: 0;
}

#week-calendar {
  height: auto;
}

#week-calendar > li {
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  height: auto;
}

h2,
h3,
h4 {
  text-decoration: underline;
}

#bh {
  padding-left: 1em;
}

li {
  margin: 1em;
  padding: 0;
}

.topics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hide {
  display: none;
}

.day,
.week,
.resource {
  display: flex;
}

.day {
  background-color: rgba(255, 178, 131, 0.7);
}


button {
  background-color: transparent;
  border: none;
  font-weight: bold;
}


h4 {
  margin: 0;
}


.time {
  background-color: rgb(255, 131, 146, 0.7);
  display: inline-block;
  width: 5em;
  text-align: center;
}